<footer class="main-footer">
  <div class="container container--main-footer-links">
    <div class="row row--wrap">
      <div class="main-footer-links">
        {% for i in range(0, 3) %}
          <ul>
            {% for i in range(0, 6) %}
              <li><a class="main-footer-links-item" href="#">Lorem, ipsum.</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
      <div class="main-footer-social">
        <a href="#" target="_blank" class="main-footer-social-item main-footer-social-item--vk"><span class="visually-hidden">Вконтакте</span></a>
        <a href="#" target="_blank" class="main-footer-social-item main-footer-social-item--fb"><span class="visually-hidden">Фейсбук</span></a>
        <a href="#" target="_blank" class="main-footer-social-item main-footer-social-item--ok"><span class="visually-hidden">Одноклассники</span></a>
        <a href="#" target="_blank" class="main-footer-social-item main-footer-social-item--yt"><span class="visually-hidden">Ютуб</span></a>
        <a href="#" target="_blank" class="main-footer-social-item main-footer-social-item--inst"><span class="visually-hidden">Инстаграм</span></a>
      </div>
    </div>
  </div>
  <div class="container main-footer-adress">
    <p>Центральный офис: г. Москва, ул. Авиамоторная, д. 10, корп. 2, 16 этаж; E-mail: info@aravia-prof.ru</p>
  </div>
</footer>