<div class="main-mail-block">
  <div class="container">
    <form action="" class="main-mail-form">
      <h1 class="h1-base h1-base--main-mail text-center">
        <span class="h1-base-text-underline">подпишитесь на рассылку</span></h1>
      <p class="base-text text-center main-mail-text">Узнавайте первыми о новинках и специальных акциях!</p>
      <div class="main-mail-form-inner row row--wrap">
        <label class="main-mail-form-col">
          <input type="text" class="base-input" placeholder="Адрес электронной почты*" required="required">
        </label>
        <label class="main-mail-form-col">
          <input type="text" class="base-input" placeholder="Имя*" required="required">
        </label>
        <label class="main-mail-form-col">
          <input type="text" class="base-input" placeholder="Фамилия" required="required">
        </label>
      </div>
      <label class="checkbox-wrapper checkbox-wrapper--main-mail">
        <input type="checkbox" class="checkbox-input">
        <span class="checkbox"></span>
        <span class="checkbox-text">Я согласен(а) получать информационную рассылку ARAVIA на адрес моей электронной почты.</span>
      </label>
      <button class="btn-main btn-main--main-mail" type="submit">Подписаться</button>
    </form>
  </div>
</div>