<div class="stars-wrapper">
  <div class="star-item star-item--full"></div>
  <div class="star-item star-item--full"></div>
  <div class="star-item star-item--full"></div>
  <div class="star-item star-item--full"></div>
  <div class="star-item star-item--empty"></div>
</div>