<div class="row header-submenu-row">
  <div class="header-submenu-column">
    <div class="header-submenu-banner-col">
      <a href="#">
        <span class="visually-hidden">Aravia professional</span>
        <img src="./images/dest/img/ARAVIA_Prof_logo.png" alt="Aravia professional">
      </a>
      <a href="#">
        <span class="visually-hidden">Aravia laboratories</span>
        <img src="./images/dest/img/ARAVIA_lab_logo.png" alt="Aravia laboratories">
      </a>
    </div>
    <div class="header-submenu-banner-col">
      <a href="#">
        <span class="visually-hidden">Aravia organic</span>
        <img src="./images/dest/img/ARAVIA_org_logo.png" alt="Aravia organic">
      </a>
      <a href="#">
        <span class="visually-hidden">Aravia cosmetics</span>
        <img src="./images/dest/img/SE_logo.png" alt="Aravia cosmetics">
      </a>
    </div>
  </div>
  <div class="header-submenu-column">
    <p class="header-submenu-text">Линия косметических средств ARAVIA Professional для лица основана на синергии инновационных технологий и классической косметологии. Действие направлено на решение всех основных проблем кожи лица, шеи и декольте
    </p>
  </div>

  <img src="./images/dest/img/banner_product.png" alt="Продукция" class="header-submenu-banner-face">
</div>
<div class="header-submenu-btn-wrapper">
  <a href="#" class="btn btn-main btn--header-submenu">в каталог</a>
</div>