<div class="row header-submenu-row">
  <div class="header-submenu-column header-submenu-column--border">
    <p class="header-submenu-title">Тип ухода</p>
    <ul class="header-submenu-list">
      {% set subSetsType = [['Интенсивный уход'], ['Профессиональный уход'], ['Домашний уход'], ['Наборы 1+1']] %}
      {% for item in subSetsType %}
        <li>
          <a href="#" class="header-submenu-list-item">{{item}}</a>
        </li>
      {% endfor %}
      <li>
        <img src="./images/dest/img/DSC_7082.png" alt="Продукция" class="header-submenu-list-img-product">
      </li>
    </ul>
  </div>
  <div class="header-submenu-tab-wrapper show">
    <div class="header-submenu-column">
      <p class="header-submenu-title">Потребности</p>
      <ul class="header-submenu-list">
        {% set subSetsType = [['Уход за лицом '], ['Уход за телом'], ['Подарочные наборы']] %}
        {% for item in subSetsType %}
          <li>
            <a href="#" class="header-submenu-list-item">{{item}}</a>
          </li>
        {% endfor %}
        <li class="header-submenu-list-item--bottom">
          <a href="#" class="header-submenu-list-item">Все наборы</a>
        </li>
      </ul>
    </div>
  </div>

  <img src="./images/dest/img/banner_product.png" alt="Продукция" class="header-submenu-banner-face">
</div>
<div class="header-submenu-btn-wrapper">
  <a href="#" class="btn btn-main btn--header-submenu">в каталог</a>
</div>