<div class="row header-submenu-row">
  <div class="header-submenu-column header-submenu-column--border">
    <p class="header-submenu-title">Место применения</p>
    <ul class="header-submenu-list">
      <li>
        <img src="./images/dest/img/DSC_0245.png" alt="Продукция" class="header-submenu-list-img-product">
      </li>
      <li class="header-submenu-list-item--bottom">
        <a href="#" class="header-submenu-list-item">Все продукты для маникюра
          <br>
          и педикюра</a>
      </li>
    </ul>
  </div>
  <div class="header-submenu-tab-wrapper show">
    <div class="header-submenu-column header-submenu-column--border">
      <p class="header-submenu-title">Тип ухода</p>
      <ul class="header-submenu-list">
        {% set subManicureType = [
          ['Очищение'],
          ['Скрабы и пилинги'],
          ['Уход за кутикулой'],
          ['Кремы для рук'],
          ['Кремы для ног'],
          ['Средства от натоптышей'],
          ['Парафинотерапия'],
          ['Аксессуары']
        ] %}
        {% for item in subManicureType %}
          <li>
            <a href="#" class="header-submenu-list-item">{{item}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <img src="./images/dest/img/banner_product.png" alt="Продукция" class="header-submenu-banner-face">
</div>
<div class="header-submenu-btn-wrapper">
  <a href="#" class="btn btn-main btn--header-submenu">в каталог</a>
</div>